@model IEnumerable<MeuCondominio.Models.Occurrence>

@{
    ViewData["Title"] = "Ocorrências";
}

<h1>Ocorrências</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOccurrence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOccurrence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resident)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
